{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Näytetään sisältö vain kirjautuneille -->
    {% if user.is_authenticated %}
        <div class="content-section">
            <h3>Oman linjan seuraavat lähdöt</h3>
            <div id="container" class="content-section"></div>

            <!-- Highcharts-mittari seuraavan bussin minuuttien näyttämiseen -->
            <script src="https://code.highcharts.com/highcharts.src.js"></script>
            <script src="https://code.highcharts.com/highcharts-more.js"></script>
            <script>
                // Haetaan muuttujiin tarvittavat käyttäjäkohtaiset tiedot
                linja_nimi = "{{ seuraava_lähtö.0 }}";
                linja_jaljella = parseInt("{{ seuraava_lähtö.1 }}");

                Highcharts.chart('container', {

                chart: {
                    type: 'gauge',
                    plotBackgroundColor: null,
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false
                },

                title: {
                    text: linja_nimi
                },

                pane: {
                    startAngle: -150,
                    endAngle: 150,
                    background: [{
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
                                [0, '#FFF'],
                                [1, '#333']
                            ]
                        },
                        borderWidth: 0,
                        outerRadius: '109%'
                    }, {
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
                                [0, '#333'],
                                [1, '#FFF']
                            ]
                        },
                        borderWidth: 1,
                        outerRadius: '107%'
                    }, {
                        // default background
                    }, {
                        backgroundColor: '#DDD',
                        borderWidth: 0,
                        outerRadius: '105%',
                        innerRadius: '103%'
                    }]
                },

                // the value axis
                yAxis: {
                    min: 0,
                    max: 30,

                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    minorTickLength: 10,
                    minorTickPosition: 'inside',
                    minorTickColor: '#666',

                    tickPixelInterval: 30,
                    tickWidth: 2,
                    tickPosition: 'inside',
                    tickLength: 10,
                    tickColor: '#666',
                    labels: {
                        step: 2,
                        rotation: 'auto'
                    },
                    title: {
                        text: 'min'
                    },
                    plotBands: [{
                        from: 15,
                        to: 30,
                        color: '#55BF3B' // green
                    }, {
                        from: 5,
                        to: 15,
                        color: '#DDDF0D' // yellow
                    }, {
                        from: 0,
                        to: 5,
                        color: '#DF5353' // red
                    }]
                },

                series: [{
                    name: 'Speed',
                    // Annetaan näytettävä data
                    data: [linja_jaljella],
                    tooltip: {
                        valueSuffix: ' min'
                    }
                }]

                });
            </script>
        </div>
        <div class="content-section">
            <div class="body">
                <!-- Listataan oman pysäkin seuraavat lähdöt -->
                <h3>Oman pysäkin seuraavat lähdöt</h3>
                <p class="text-muted">{{ oma_pysakki }}, klo {{ kello_nyt }}</p>
                {% for linja in seuraavat_linjat %}
                    <li class="list-group-item">
                        <!-- Värikoodataan ajat kiireellisyyden mukaan -->
                        {% if linja.1 < 5 %}
                            {{ linja.0 }} <font color ="red">{{ linja.1 }} min</font>
                        {% elif linja.1 < 10 %}
                            {{ linja.0 }} <font color ="orange">{{ linja.1 }} min</font>
                        {% else %}
                            {{ linja.0 }} <font color ="green">{{ linja.1 }} min</font>
                        {% endif %}
                    </li>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <!-- Näytettävä sisältö, jos ei kirjautunut -->
        <div class="content-section">
            <div class="body">
                <h3>Oman pysäkin aikataulut</h3>
                <p class="text-muted">
                    <a href="{% url 'login' %}">Kirjaudu sisään</a> nähdäksesi oman 
                    pysäkkisi tiedot
                </p>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block sidebar %}
    {% if user.is_authenticated %}
        <!-- Sivupalkissa mahdollisuus nähdä ja muokata aktiiviset pysäkki- ja linjatiedot-->
        <div class="col-md-4">
        <div class="content-section">
            <h3>Tervetuloa!</h3>
            <p class='text-muted'>Valitse näytettävä linja ja pysäkki. 
                Voit päivittää omia tietoja
                <a href="{% url 'profile' %}">profiilistasi</a>.</p>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Omat tiedot</legend>
                    {{ p_form|crispy }}
                </fieldset>
                <!-- Lähetetään muokatut tiedot viewsille -->
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Päivitä</button>
                </div>
            </form>
        </div>
        </div>
    {% endif%}
{% endblock %}
